<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Daily Planner</title>
</head>

<body class="bg-neutral-200">
  <main>
    {{{ body }}}
  </main>
</body>

</html>
