<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Planner</title>
</head>

<body>
  <header >
    <h1>
      Daily Planner
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
</body>

</html>
