<header>
<h1 class="font-bold text-lg md:text-2xl text-center p-4">Create Event</h1>
</header>

<form action="/event" method="post" id="eventForm" class="p-4 flex-col bg-white m-auto w-fit rounded">
  <div class="flex p-2 justify-end">
    <label for="event_name">Event Name:</label>
    <input class="ms-2 rounded" type="text" id="username" name="username" />
  </div>
  <div class="flex p-2 justify-end">
    <label for="event_name">Event Time:</label>
    <input class="ms-2 rounded" type="time" id="username" name="username" />
  </div>
  <div class="flex p-2 justify-end">
    <label for="event_name">Event Location:</label>
    <input class="ms-2 rounded" type="text" id="username" name="username" />
  </div>
    <div class="flex p-2 justify-end">
        <label for="event_name">Event Length:</label>
        <select class="ms-2 rounded" id="event_length" name="event_length">
            <option value="1">1 Hour</option>
            <option value="2">2 Hour</option>
            <option value="3">3 Hour</option>
            <option value="4">4 Hour</option>
            <option value="5">5 Hour</option>
            <option value="6">6 Hour</option>
            <option value="7">7 Hour</option>
            <option value="8">8 Hour</option>
        </select>
    </div>
  <div class="flex p-2 justify-end">
    <label for="event_name">Day:</label>
    <input class="ms-2 rounded" type="date" id="username" name="username" />
  </div>
  <div class="flex p-2 justify-end">
    <button class="bg-neutral-800 text-neutral-200 px-3 py-1 rounded" type="submit">Create Event</button>
  </div>
</form>

<p class="text-center text-sm m-2">For new users, <a class="underline" href="/">click here to return</a></p>