{{!-- Header --}}
<header class="flex items-center justify-around p-2">
    <h1 class="font-bold text-lg md:text-2xl text-center">{{ today.month }}/{{today.day}}/{{today.year}}</h1>
    <h2 class="opacity-70 text-sm md:text-base">Welcome, {{ userData.username }}</h2>
    <button class="opacity-70 text-sm md:text-base">Logout</button>
</header>

{{!-- container --}}
<div class="container flex flex-col m-auto">
    {{!-- Calender / Time Segments --}}
    <section class="w-full p-4">
        <h3 class="text-center">Your daily overview:</h3>
        <ul class="border border-black border-opacity-70 opacity-70">
            <li class="p-1">1am</li>
            <li class="p-1">2am</li>
            <li class="p-1">3am</li>
            <li class="p-1">4am</li>
            <li class="p-1">5am</li>
            <li class="p-1">6am</li>
            <li class="p-1">7am</li>
            <li class="p-1">8am</li>
            <li class="p-1">9am</li>
            <li class="p-1">10am</li>
            <li class="p-1">11am</li>
            <li class="p-1">12am</li>
            <li class="p-1">1pm</li>
            <li class="p-1">2pm</li>
            <li class="p-1">3pm</li>
            <li class="p-1">4pm</li>
            <li class="p-1">5pm</li>
            <li class="p-1">6pm</li>
            <li class="p-1">7pm</li>
            <li class="p-1">8pm</li>
            <li class="p-1">9pm</li>
            <li class="p-1">10pm</li>
            <li class="p-1">11pm</li>
            <li class="p-1">12pm</li>
        </ul>
    </section>

    {{!-- To-Do List --}}
    <section class="w-full p-4">
        <h3 class="text-center">To-Do List</h3>
    </section>

    {{!-- Notes --}}
    <section class="w-full p-4">
        <h3 class="text-center">Notes</h3>
    </section>
</div>
