<header>
<h1 class="font-bold text-lg md:text-2xl text-center p-4">Login</h1>
</header>

<form id="loginForm" class="p-4 flex-col bg-white m-auto w-fit rounded">
  <div class="flex p-2 justify-end">
    <label for="email-login">Email:</label>
    <input class="ms-2 rounded" type="text" id="email-login" />
  </div>
  <div class="flex p-2 justify-end">
    <label for="password-login">Password:</label>
    <input class="ms-2 rounded border-black" type="password" id="password-login" />
  </div>
  <div class="flex p-2 justify-end">
    <button class="bg-neutral-800 text-neutral-200 px-3 py-1 rounded" type="submit">Login</button>
  </div>
</form>

<script src="/js/login.js"></script>
