<header>
    <h1 class="font-bold text-lg md:text-2xl text-center p-4">Register</h1>
</header>

<form id="registerForm" class="p-4 flex-col bg-white m-auto w-fit rounded">
    <div class="flex p-2 justify-end">
        <label for="email-register">Email:</label>
        <input class="ms-2 rounded" type="text" id="email-register" />
    </div>
    <div class="flex p-2 justify-end">
        <label for="password-register">Password:</label>
        <input class="ms-2 rounded border-black" type="password" id="password-register" />
    </div>
    <div class="flex p-2 justify-end">
        <button class="bg-neutral-800 text-neutral-200 px-3 py-1 rounded" type="submit">Register</button>
    </div>
</form>